@page
@model CarRentalSite.Pages.AllCars.AddRentalModel

@{
    ViewData["Title"] = "AddRental";
}

<h1>AddRental</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.RentalStartPeriod" class="control-label"></label>
                <input asp-for="Rental.RentalStartPeriod" class="form-control" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="UpdateTotalPrice()"/>
                <span asp-validation-for="Rental.RentalStartPeriod" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Rental.RentalEndPeriod" class="control-label"></label>
                <input asp-for="Rental.RentalEndPeriod" class="form-control" type="datetime-local"/>
                <span asp-validation-for="Rental.RentalEndPeriod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<h3>Currently reserved dates</h3>
This car is currently reserved from and to the following dates
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rentals[0].RentalStartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rentals[0].RentalEndPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rentals)
        {
            if (DateTime.Compare(item.RentalEndPeriod, DateTime.Now) > 0 && DateTime.Compare(item.RentalStartPeriod, DateTime.UtcNow) < 0 && DateTime.Compare(item.RentalStartPeriod, DateTime.UtcNow) > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalStartPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalEndPeriod)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
