@page
@model CarRentalSite.Pages.Cars.IndexModel
@{

}
<style>
  table.my-table {
  width: 500px;
  height: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: #fff;
}


table.my-table td {
  border: 1px solid #ccc;
  padding: 10px;
}


table.my-table th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #bbb;
}
</style>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Doors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].FuelConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ElectricityConsumption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].HK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].GearType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].RegNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].PricePerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            @if (Model.Customer != null)
            {
                @if (item.OwnerID != Model.Customer.Id)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mileage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuelType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doors)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FuelConsumption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ElectricityConsumption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GearType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PricePerDay)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">Select</a>
                        </td>
                    </tr>
                }
            
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelConsumption)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ElectricityConsumption)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GearType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerDay)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">Select</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</table>