@page
@model CarRentalSite.Pages.Rentals.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>My Rentals</h1>

<h3>My Current Rentals</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].LoanerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalStartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalEndPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental) {
    if (DateTime.Compare(item.RentalEndPeriod, DateTime.Now) < 0 && DateTime.Compare(item.RentalStartPeriod, DateTime.UtcNow) > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Customer.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalStartPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalEndPeriod)
                    </td>
                    <td>
                        
                        <a asp-page="./RentalDetails" asp-route-id="@item.Id">Details</a> |
                        @*TODO: hvis datetime.now er en dag før item.rentalstartdate så skal man ikke kunne slette reserveringen*@

                        
                        @*<a asp-area="" asp-page="/AllCars/Details" asp-route-id="@item.CarId">Car Details</a>*@
                    </td>
                </tr>
            }
}
    </tbody>
</table>

<h3>My Reservations</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].LoanerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalStartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalEndPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rental)
        {
            if (DateTime.Compare(item.RentalStartPeriod, DateTime.UtcNow) < 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Customer.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalStartPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalEndPeriod)
                    </td>
                    <td>
                        <a asp-page="./EditRental" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./RentalDetails" asp-route-id="@item.Id">Details</a> |
                        @*TODO: hvis datetime.now er en dag før item.rentalstartdate så skal man ikke kunne slette reserveringen*@

                        <a asp-page="./DeleteRental" asp-route-id="@item.Id">Delete</a>
                        @*<a asp-area="" asp-page="/AllCars/Details" asp-route-id="@item.CarId">Car Details</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h3>My Previous Rentals</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].LoanerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalStartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalEndPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rental)
        {
            if (DateTime.Compare(item.RentalEndPeriod, DateTime.Now) > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Customer.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalStartPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalEndPeriod)
                    </td>
                    <td>
                        
                        <a asp-page="./RentalDetails" asp-route-id="@item.Id">Details</a> |
                        @*TODO: hvis datetime.now er en dag før item.rentalstartdate så skal man ikke kunne slette reserveringen*@

                        
                        @*<a asp-area="" asp-page="/AllCars/Details" asp-route-id="@item.CarId">Car Details</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>